section.main.site__col-12.site__col-lg-7.site__col-xl-6.site__col-xxl-5.offset-xl-1.offset-xxl-2
	h1.site__title.site__title--1
		| KJØP FUT21-MYNTER
		br
		| RASKT OG SIKRE
	include ../mainCalc
	//.main__content
	//	a.btn.main__button.js-buy(href=`${url}order.html`)
	//		span.btn__content
	//			| KJØP MYNTER
	//	svg.main__content-icon.for-laptop(xmlns="http://www.w3.org/2000/svg" viewbox="0 0 42 12")
	//		path(d="M.99 5.26l3.509 5.717M.989 5.26L6.123.798M.99 5.26c16.65 2.164 34.038.884 40.65-.026" fill="none" stroke="#E5B713")
	//	svg.main__content-icon.for-mobile(xmlns="http://www.w3.org/2000/svg" viewbox="0 0 30 24")
	//		path(d="M5.886.778L.583 4.887M5.886.777l4.992 4.618M5.886.778C5.886 18.5 18 23.5 30 23.5" fill="none" stroke="#E5B713")
	//	.main__content-text
	//		| Systemet vårt er fullstendig automatisert, #[br]så vi leverer mynter døgnet rundt.

	.main__info
		.main__card
			picture.main__card-media
				img(src=`${baseDir}images/main/purple.svg` alt="Figure")
			.main__card-title DET TRYGGESTE ALTERNATIVET
			.main__card-text Ikke tenk på eventuelle sanksjoner fra EA. Vi arbeider med en forbedret algoritme, der 1 leverandør kun kjøper 1 spillerkort når bestillingen din blir utført.

		.main__card
			picture.main__card-media
				img(src=`${baseDir}images/main/blue.svg` alt="Figure")
			.main__card-title RASKT OG ENKELT
			.main__card-text Systemet vårt er fullstendig automatisert, så vi leverer mynter så raskt som mulig. Bare et par klikk, så gjør vi resten.

		.main__card
			picture.main__card-media
				img(src=`${baseDir}images/main/red.svg` alt="Figure")
			.main__card-title STOR OPPLEVELSE
			.main__card-text Vi har solgt mynter siden FIFA 17, men da gjorde vi det til grossister. Med vår bakgrunn kan vi tilby det beste produktet til FUT-brukere.

		.main__card
			picture.main__card-media
				img(src=`${baseDir}images/main/yellow.svg` alt="Figure")
			.main__card-title DE LAVESTE PRISENE
			.main__card-text Vi dekker alle gebyrer. Prisene våre er de laveste på internett. Det er 50 % billigere å åpne pakker med våre mynter enn med FIFA-poeng.

	.main__buy
		.main__buy-head
			.main__buy-title HVORDAN FUNGERER
				|  #[span  COMFORT TRADE ] - LEVERING?
			//a.main__buy-button See how transfer mode works
		.main__buy-container
			.main__buy-block.site__col-lg-4.site__col-12
				.main__buy-number 1
				.main__buy-text
					| Velg plattform og antall mynter.
			.main__buy-block.site__col-lg-4.site__col-12
				.main__buy-number 2
				.main__buy-text
					| Skriv inn e-postadressen din, passordet ditt og reservekodene.
			.main__buy-block.site__col-lg-4.site__col-12
				.main__buy-number 3
				.main__buy-text
					| Myntene er nå i FUT-klubben din. God fornøyelse!

	include ./faq
	script(async src="https://f.royalfut.com/2abe5b48d2731f8b7232d53248d2ef44.js")
