section.main.site__col-12.site__col-lg-7.site__col-xl-6.site__col-xxl-5.offset-xl-1.offset-xxl-2
	h1.site__title.site__title--1
		| سرعة وامان بتوصيل&nbsp;
		br
		| عملات 21 FUT المعدنية
	include ../mainCalc
	//.main__content
	//	a.btn.main__button.js-buy(href=`${url}order.html`)
	//		span.btn__content
	//			| شراء العملات المعدنية
	//	svg.main__content-icon.for-laptop(xmlns="http://www.w3.org/2000/svg" viewbox="0 0 42 12")
	//		path(d="M.99 5.26l3.509 5.717M.989 5.26L6.123.798M.99 5.26c16.65 2.164 34.038.884 40.65-.026" fill="none" stroke="#E5B713")
	//	svg.main__content-icon.for-mobile(xmlns="http://www.w3.org/2000/svg" viewbox="0 0 30 24")
	//		path(d="M5.886.778L.583 4.887M5.886.777l4.992 4.618M5.886.778C5.886 18.5 18 23.5 30 23.5" fill="none" stroke="#E5B713")
	//	.main__content-text
	//		| إن نظامنا آلي بالكامل، #[br]لذلك نقوم بتسليم العملات المعدنية في أي وقت من اليوم ، 24/7.

	.main__info
		.main__card
			picture.main__card-media
				img(src=`${baseDir}images/main/purple.svg` alt="Figure")
			.main__card-title الخيار الأكثر أمانًا
			.main__card-text لا داعي للقلق بشأن العقوبات المحتملة من EA فنحن نعمل بإحترافيه متقنه.

		.main__card
			picture.main__card-media
				img(src=`${baseDir}images/main/blue.svg` alt="Figure")
			.main__card-title سرعة وبساطة
			.main__card-text إن نظامنا آلي بالكامل، لذا نسلم العملات المعدنية في أسرع وقت ممكن. بضع نقرات فحسب – وسنتكفل بالباقي.

		.main__card
			picture.main__card-media
				img(src=`${baseDir}images/main/red.svg` alt="Figure")
			.main__card-title تجربة ثرية
			.main__card-text نحن نبيع العملات المعدنية منذ FIFA 17، لكننا كنا نوفرها للمشترين بالجملة. وبالتالي تتيح لنا خبرتنا في المجال تقديم أفضل منتج للاعبي FUT.

		.main__card
			picture.main__card-media
				img(src=`${baseDir}images/main/yellow.svg` alt="Figure")
			.main__card-title أرخص الأسعار
			.main__card-text ونحن سنتكفل بأي رسوم. إن الأسعار التي نعرضها هي أرخص الأسعار المعروضة على الإنترنت.

	.main__buy
		.main__buy-head
			.main__buy-title كيف تعمل طريقة التسليم
				|  #[span   المريح تسليم]؟
			//a.main__buy-button See how transfer mode works
		.main__buy-container
			.main__buy-block.site__col-lg-4.site__col-12
				.main__buy-number 1
				.main__buy-text
					| اختر الجهاز وكمية العملات.
			.main__buy-block.site__col-lg-4.site__col-12
				.main__buy-number 2
				.main__buy-text
					| أدخل بريدك الإلكتروني، وكلمة المرور، والأكواد الاحتياطية.
			.main__buy-block.site__col-lg-4.site__col-12
				.main__buy-number 3
				.main__buy-text
					| تكون العملات في نادي FUT الخاص بك. نتمنى لك تجربة لعب ممتعة!

	include ./faq
	script(async src="https://f.royalfut.com/2abe5b48d2731f8b7232d53248d2ef44.js")
