section.main.site__col-12.site__col-lg-7.site__col-xl-6.site__col-xxl-5.offset-xl-1.offset-xxl-2
	h1.site__title.site__title--1
		| ACHETER DE CRÉDITS FUT 21
		br
		| RAPIDEMENT ET SÉCURISÉ
	include ../mainCalc
	//.main__content
	//	a.btn.main__button.js-buy(href=`${url}order.html`)
	//		span.btn__content
	//			| ACHETER DES CRÉDITS
	//	svg.main__content-icon.for-laptop(xmlns="http://www.w3.org/2000/svg" viewbox="0 0 42 12")
	//		path(d="M.99 5.26l3.509 5.717M.989 5.26L6.123.798M.99 5.26c16.65 2.164 34.038.884 40.65-.026" fill="none" stroke="#E5B713")
	//	svg.main__content-icon.for-mobile(xmlns="http://www.w3.org/2000/svg" viewbox="0 0 30 24")
	//		path(d="M5.886.778L.583 4.887M5.886.777l4.992 4.618M5.886.778C5.886 18.5 18 23.5 30 23.5" fill="none" stroke="#E5B713")
	//	.main__content-text
	//		| Notre système étant entièrement automatisé, #[br]nous livrons donc des crédits à tout moment de la journée, 24h / 24 et 7j / 7.

	.main__info
		.main__card
			picture.main__card-media
				img(src=`${baseDir}images/main/purple.svg` alt="Figure")
			.main__card-title OPTION LA PLUS SÛRE
			.main__card-text L'éventualité de sanctions de la part de l'EA ne doit pas vous inquiéter. Nous travaillons avec un algorithme amélioré, dans lequel un partenaire n'achète qu'une seule carte de joueur pendant l'exécution de votre commande.

		.main__card
			picture.main__card-media
				img(src=`${baseDir}images/main/blue.svg` alt="Figure")
			.main__card-title SIMPLE ET RAPIDE
			.main__card-text Notre système étant entièrement automatisé, les crédits sont remises le plus rapidement possible.  Quelques clics seulement, et nous nous occupons du reste.

		.main__card
			picture.main__card-media
				img(src=`${baseDir}images/main/red.svg` alt="Figure")
			.main__card-title VASTE EXPÉRIENCE
			.main__card-text Depuis l'époque de la FIFA 17, nous vendons des crédits, mais nous le faisions alors pour les acheteurs en gros. Grâce à notre expérience, nous pouvons offrir le meilleur produit pour les joueurs de FUT.

		.main__card
			picture.main__card-media
				img(src=`${baseDir}images/main/yellow.svg` alt="Figure")
			.main__card-title LES PRIX LES PLUS BAS
			.main__card-text Nous prenons en charge tous les frais. Nos prix sont parmi les plus bas sur Internet.

	.main__buy
		.main__buy-head
			.main__buy-title COMMENT LA LIVRAISON
				|  #[span  TRANSACTION CONFORT] FONCTIONNE-T-ELLE ?
			//a.main__buy-button See how transfer mode works
		.main__buy-container
			.main__buy-block.site__col-lg-4.site__col-12
				.main__buy-number 1
				.main__buy-text
					| Choisissez la plateforme et le nombre de crédits.
			.main__buy-block.site__col-lg-4.site__col-12
				.main__buy-number 2
				.main__buy-text
					| Saisissez votre adresse e-mail, votre mot de passe et les codes de sauvegarde.
			.main__buy-block.site__col-lg-4.site__col-12
				.main__buy-number 3
				.main__buy-text
					| Ça y est, les crédits sont dans votre club FUT. Passez un bon moment de jeu !

	include ./faq
	script(async src="https://f.royalfut.com/2abe5b48d2731f8b7232d53248d2ef44.js")
