section.main.site__col-12.site__col-lg-7.site__col-xl-6.site__col-xxl-5.offset-xl-1.offset-xxl-2
	h1.site__title.site__title--1
		| HIZLI VE GÜVENLI
		br
		| JETON FUT 21 AL

	include ../mainCalc
	//.main__content
	//	a.btn.main__button.js-buy(href=`${url}order.html`)
	//		span.btn__content
	//			| JETON AL
	//	svg.main__content-icon.for-laptop(xmlns="http://www.w3.org/2000/svg" viewbox="0 0 42 12")
	//		path(d="M.99 5.26l3.509 5.717M.989 5.26L6.123.798M.99 5.26c16.65 2.164 34.038.884 40.65-.026" fill="none" stroke="#E5B713")
	//	svg.main__content-icon.for-mobile(xmlns="http://www.w3.org/2000/svg" viewbox="0 0 30 24")
	//		path(d="M5.886.778L.583 4.887M5.886.777l4.992 4.618M5.886.778C5.886 18.5 18 23.5 30 23.5" fill="none" stroke="#E5B713")
	//	.main__content-text
	//		| Sistemimiz tümüyle otomatiktir, #[br]haftanın 7 günü 24 saat jeton teslimatı yapıyoruz.

	.main__info
		.main__card
			picture.main__card-media
				img(src=`${baseDir}images/main/purple.svg` alt="Figure")
			.main__card-title EN GÜVENLİ SEÇENEK
			.main__card-text Muhtemel EA yaptırımlarını düşünmeyin. Kullandığımız gelişmiş algoritma sayesinde, siparişiniz gerçekleştirilirken bir tedarikçi yalnızca bir oyuncu kartı satın alıyor.

		.main__card
			picture.main__card-media
				img(src=`${baseDir}images/main/blue.svg` alt="Figure")
			.main__card-title HIZLI VE KOLAY
			.main__card-text Sistemimiz tümüyle otomatiktir ve bu sayede en hızlı şekilde jeton teslimatı yapıyoruz. Siz birkaç butona tıklayın, gerisini biz halledelim.

		.main__card
			picture.main__card-media
				img(src=`${baseDir}images/main/red.svg` alt="Figure")
			.main__card-title MUAZZAM DENEYİM
			.main__card-text FIFA 17 zamanından beri jeton satıyoruz fakat önceden toptan satış yapıyorduk. Bu deneyimimizle artık perakende olarak da FUT kullanıcılarına en iyi ürünü sunuyoruz.

		.main__card
			picture.main__card-media
				img(src=`${baseDir}images/main/yellow.svg` alt="Figure")
			.main__card-title EN UYGUN FİYATLAR
			.main__card-text Tüm ücretler tarafımızdan karşılanıyor. İnternetteki en düşük fiyatları sunuyoruz. Paket açmalar Jetonlarımızla FIFA Puanlarından %50 daha ucuzdur.

	.main__buy
		.main__buy-head
			.main__buy-title
				|  #[span  RAHAT İŞLEM ] NASIL GERÇEKLEŞİR?
			//a.main__buy-button See how transfer mode works
		.main__buy-container
			.main__buy-block.site__col-lg-4.site__col-12
				.main__buy-number 1
				.main__buy-text
					| Platformu ve jeton miktarını seçin.
			.main__buy-block.site__col-lg-4.site__col-12
				.main__buy-number 2
				.main__buy-text
					| E-posta adresinizi, parolanızı ve yedek kodlarınızı girin.
			.main__buy-block.site__col-lg-4.site__col-12
				.main__buy-number 3
				.main__buy-text
					| Jetonlar artık FUT kulübünüze aktarıldı bile. İyi oyunlar!

	include ./faq
	script(async src="https://f.royalfut.com/2abe5b48d2731f8b7232d53248d2ef44.js")
